<!DOCTYPE html>

<body style="font-family: Arial, sans-serif; background-color: #f2f2f2; padding: 20px;">
  <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #333333; font-size: 18px; margin-bottom: 20px; display: flex; align-items: center;">
      <img src="https://gestionsepa.netlify.app/assets/inteli-v1-r-400c2051.png" alt="logo" width="100px" style="margin-right: 10px;">
      Registro exitoso
    </h1>
    <p style="color: #666666; line-height: 1.6;">
      ¡Hola <strong>[Nombre]</strong>!
    </p>
    <p style="color: #666666; line-height: 1.6;">
      Tu registro se ha completado exitosamente. Ahora puedes disfrutar de todos los beneficios de la app Inteli Gestión.
    </p>
    <a href="https://gestionsepa.netlify.app/" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: #ffffff; text-decoration: none; border-radius: 3px; margin-top: 20px;">
      Iniciar sesión
    </a>
    <br>
    <hr>
    <p style="color: #666666; line-height: 1.6;">
      Gracias por unirte a nosotros.
    </p>
  </div>
</body>
</html>
